---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Grabpflege">
  <h1>404 - Diese Seite ist nicht verfügbar.</h1>
  <p>
    Haben Sie Anregungen für weitere Seiteninhalte?
    <a href="/kontakt">Wir freuen uns Ihre Meinung zu hören.</a>
  </p>
</Layout>
