---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Formular gesendet">
  <h1 id="main">Formular gesendet</h1>
  <p class="center">Ihre Mitteilung wurde erfolgreich übermittelt.</p>
  <p class="center">Wir antworten Ihnen sobald wie möglich.</p>
</Layout>

<style>
  .center {
    text-align: center;
  }
</style>
