---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Gartenbau | Gartenbau Felsberg GmbH">
  <main>
    <h1>Gartenbau</h1>
    <p>
      Unser Team verhilft Ihnen zu einem schönen Garten. Als gelernte
      Gartenbauer mit jahrelanger Erfahrung übernehmen wir sowohl die
      Neugestaltung Ihres Gartens als auch Gartenumänderungen.
    </p>
    <p>Dazu gehören unter anderem folgende Arbeiten:</p>
    <ul>
      <li>Natursteinarbeiten</li>
      <li>Sitzplätze</li>
      <li>Mauern</li>
      <li>Sichtschutz</li>
      <li>Teiche</li>
      <li>Rasen</li>
      <li>Bepflanzungen</li>
    </ul>
  </main>
</Layout>
