---
import Layout from "../layouts/Layout.astro";
import HeaderImage from "../components/HeaderImage.astro";
import imgSrc from "../images/biotop-min.jpg";
---

<Layout title="Gartenbau - Gartenbau Felsberg GmbH">
  <HeaderImage
    image={imgSrc}
    alt="Teich, umrandet mit Steinen"
    objectPosition="50% 45%"
  />
  <main>
    <h1>Gartenbau</h1>
    <p>
      Unser Team verhilft Ihnen zu einem schönen Garten. Als gelernte
      Gartenbauer mit jahrelanger Erfahrung übernehmen wir sowohl die
      Neugestaltung Ihres Gartens als auch Gartenumänderungen.
    </p>
    <p>Dazu gehören unter anderem folgende Arbeiten:</p>
    <ul>
      <li>Natursteinarbeiten</li>
      <li>Sitzplätze</li>
      <li>Mauern</li>
      <li>Sichtschutz</li>
      <li>Teiche</li>
      <li>Rasen</li>
      <li>Bepflanzungen</li>
    </ul>
  </main>
</Layout>
