---
import Layout from "../layouts/Layout.astro";
import HeaderImage from "../components/HeaderImage.astro";
import imgSrc from "../images/graeber-min.jpg";
---

<Layout title="Grabpflege">
  <HeaderImage
    slot="header-image"
    image={imgSrc}
    alt="Dekoriertes Grab"
    objectPosition="50% 30%"
  />
  <h1>Grabpflege</h1>
  <p>
    Sie können bei uns Daueraufträge für die Grabpflege in Auftrag geben. Im
    Sommer und Herbst werden die Gräber neu gestaltet. Im Oktober werden die
    Gräber entweder bepflanzt oder mit Tannengrün und Trockenblumen ausgesteckt.
    Im Frühling werden die Gräber auf Ostern mit verschiedenen Blumen und
    Pflanzen hergerichtet.
  </p>
  <p>Diese Arbeiten führen wir auf folgenden Friedhöfen aus:</p>
  <ul>
    <li>Alterswilen</li>
    <li>Tägerwilen</li>
  </ul>
  <p>Gerne beraten wir Sie und gehen auf Ihre individuellen Wünsche ein.</p>
</Layout>
