---
import Layout from "../layouts/Layout.astro";
import HeaderImage from "../components/HeaderImage.astro";
import imgSrc from "../images/grillstelle-min.jpg";
---

<Layout>
  <HeaderImage
    image={imgSrc}
    alt="Garten mit Grillstelle"
    objectPosition="50% 80%"
  />
  <main>
    <h1>Gartenbau Felsberg</h1>
    <p>
      Herzlich willkommen auf der Homepage der Gartenbau Felsberg GmbH in
      Neuwilen.
    </p>
    <p>
      Wir führen allgemeine Arbeiten im Gartenbau aus und kümmern uns um die
      Grabpflege. Verschönernd erstellen wir Ihnen Ihre Garten-Neuanlage oder
      gestalten Ihren Garten mit Einbau eines Biotops oder Neubepflanzungen um.
    </p>
    <p>
      Unser Einzugsgebiet erstreckt sich über den Kanton Thurgau mit Fokus auf
      die Region Kreuzlingen.
    </p>
  </main>
</Layout>
