---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Gartenbau Felsberg GmbH">
  <main>
    <h1>Gartenbau Felsberg</h1>
    <p>
      Herzlich willkommen auf der Homepage der Gartenbau Felsberg GmbH in
      Neuwilen.
    </p>
    <p>
      Wir führen allgemeine Arbeiten im Gartenbau aus und kümmern uns um die
      Grabpflege. Verschönernd erstellen wir Ihnen Ihre Garten-Neuanlage oder
      gestalten Ihren Garten mit Einbau eines Biotops oder Neubepflanzungen um.
    </p>
    <p>
      Unser Einzugsgebiet erstreckt sich über den Kanton Thurgau mit Fokus auf
      die Region Kreuzlingen.
    </p>
  </main>
</Layout>
