---
import "../styles/reset.css";
import Footer from "../components/Footer.astro";
import { name } from "../data/contact";
import Header from "../components/Header.astro";
import PostHog from "../components/posthog.astro";
import CookieBanner from "../components/CookieBanner.astro";

interface Props {
  title?: string;
}

const { title } = Astro.props;

const fullTitle = title ? `${title} - ${name}` : name;
---

<!doctype html>
<html lang="de">
  <head>
    <meta name="robots" content="noindex">

    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Homepage der Gartenbau Felsberg GmbH in Neuwilen"
    />
    <meta
      name="keywords"
      content="Gartenbau Felsberg GmbH, Neuanlagen, Gartenumgestaltung, Grabpflege, Kreuzlingen, Neuwilen"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="canonical" content="https://www.felsberg-gartenbau.ch/" />
    <title>{fullTitle}</title>
    <PostHog />
  </head>
  <body>
    <Header />
    <CookieBanner />
    <main>
      <slot name="header-image" />
      <div class="text-wrapper">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    --color-green-main: #245d24;
    --color-white-main: #ffffff;
    --color-yellow-main: #ffe900;
    --color-black-main: #252525;
    --color-form-input: #cbd5e1;

    --spacing-0_5: 0.5rem;
    --spacing-1: 1rem;
    --spacing-1_5: 1.5rem;
    --spacing-2: 2rem;
    --spacing-3: 3rem;
    --spacing-5: 5rem;
    --spacing-6: 6rem;
    --spacing-7: 7rem;
    --spacing-8: 8rem;

    --header-height: 3.75rem;

    @media (--breakpoint-min-lg) {
      --header-height: 7.5rem;
    }
  }

  html {
    font-family: Tahoma, sans-serif;
    text-underline-offset: 4px;
  }

  main {
    margin-block-start: var(--header-height);

    * {
      scroll-margin-top: var(--header-height);
    }
  }

  .text-wrapper {
    margin: auto;
    padding: var(--spacing-3) var(--spacing-1) var(--spacing-6);
    width: 800px;
    max-width: calc(100% - var(--spacing-2));

    @media (--breakpoint-min-md) {
      padding-block: var(--spacing-6) var(--spacing-8);
    }
  }

  ::selection {
    background: var(--color-yellow-main);
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    margin-block-end: 1em;

    @media (--breakpoint-min-sm) {
      font-size: 2.25rem;
    }

    @media (--breakpoint-min-md) {
      font-size: 2.5rem;
    }
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2;
    margin-block: 1.5em 1em;

    @media (--breakpoint-min-sm) {
      font-size: 2rem;
    }

    @media (--breakpoint-min-md) {
      font-size: 1.75rem;
      margin-block-start: 2.5em;
    }
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.2;
    margin-block: 1.5em 0.5em;

    @media (--breakpoint-min-sm) {
      font-size: 1.5rem;
    }

    @media (--breakpoint-min-md) {
      margin-block-start: 2.5em;
    }
  }

  h2 + h3 {
    margin-block-start: 1em;
  }

  p,
  ul,
  li,
  main address,
  main a,
  .cookie-banner button,
  form button,
  input,
  textarea,
  label {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.4;
    margin-block-end: 1em;

    @media (--breakpoint-min-md) {
      font-size: 1.25rem;
    }
  }

  header {
    a {
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 1.4;

      @media (--breakpoint-min-md) {
        font-size: 1.25rem;
      }
    }

    nav a,
    nav button {
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.4;

      @media (--breakpoint-min-md) {
        font-size: 1.25rem;
      }
    }
  }

  li {
    margin: 0;
    line-height: 1.5;
  }

  main a {
    font-weight: bold;
    color: var(--color-green-main);
  }

  footer {
    font-size: 1rem;

    @media (--breakpoint-min-md) {
      font-size: 1.125rem;
    }
  }

  button {
    cursor: pointer;
  }

  .cookie-banner {
    h2 {
      @media (--breakpoint-max-sm) {
        font-size: 1.2rem;
      }
    }

    p {
      @media (--breakpoint-max-sm) {
        font-size: .8rem;
      }
    }

    button {
      @media (--breakpoint-max-sm) {
        font-size: .8rem;
      }
    }
  }

  .visually-hidden {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
  }

  .image-gallery-fullscreen-button svg {
    min-width: 32px !important;
    min-height: 32px !important;
  }
</style>
